body{
    margin: 0;
}

#screen{
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
}

#game {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
}
#start {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    /* background-image: url(); */
}

#level_complete {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    /* background-image: url(); */
}

#game_background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    background-image: url("images/background(1).png");
    background-size: 100% 100%;
}

#game_elements {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
}

#game_ui {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    display: grid;
    grid-template-columns: auto auto auto;
    
}

/*--------- Game-elements------------ */
#turkey_container{
    width: 13%;
    position: absolute;
    top: 25%;
    left: 50%;
}

#turkey_sprite{
    width: 100%;
    height: 100%;
}

#pie_container{
    width: 13%;
    position: absolute;
    top: 25%;
    left: 51%;
}

#pie_sprite{
    width: 100%;
    height: 100%;
}
#butter_container{
    width: 5%;
    position: absolute;
    top: 25%;
    left: 55%;
    
}

#butter_sprite{
    width: 100%;
    height: 100%;
    
}

#tomato_container{
    width: 5%;
    position: absolute;
    top: 25%;
    left: 57%;
}

#tomato_sprite{
    width: 100%;
    height: 100%;
}
#carrot_container{
    width: 10%;
    position: absolute;
    top: 25%;
    left: 56%;
}

#carrot_sprite{
    width: 100%;
    height: 100%;
   
}

#cabbage_container{
    width: 10%;
    position: absolute;
    top: 25%;
    left: 56%;
}
#cabbage_sprite{
    width: 100%;
    height: 100%;
}

#hand_container{
    width: 40%;
    height:100%;
    position: absolute;
    top: 20%;
    left: -36%;
    
}

#hand_sprite{
    width: 100%;
    height: 100%;
    transform: rotate(90deg);
}

#slap_container{
    width: 10%;
    position: absolute;
    top: -0%;
    left: 56%;
}

#slap_sprite{
    width: 100%;
    height: 100%;
}

#smileys_container{
    width: 20%;
    height: 20%;
    position: absolute;
    top: 50%;
    left: 80%;
}

#smileys_sprite{
    width: 100%;
    height: 100%;
}

#angry_container{
    width: 20%;
    height: 20%;
    position: absolute;
    top: 50%;
    left: 70%;
}

#angry_sprite{
    width: 100%;
    height: 100%;
}






/* ui-elementer */
#time_board {
    width: 5.6%;
    position: absolute;
    top: 66.5%;
    left: 4%;
}
#score_board {
    width: 23%;
    position: absolute;
    top: 69%;
    left: 11%;
}
#life_board {
    width: 26%;
    position: absolute;
    top: 83%;
    left: 3%;
}